#gallery {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  list-style: none;
}

.gallery-card {
  width: calc((100% - 60px) / 3);
}

.gallery-card:not(:last-child) {
  margin-right: 30px;
}

.gallery-card__image {
  display: block;
  width: 100%;
  height: 100%;
}

section {
  padding: 30px 90px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
